# Módulos de Node.js
node_modules/

# Archivo de bloqueo para npm
package-lock.json

# Entorno de desarrollo
.env

# Archivos de configuración locales
config/*.json

# Logs
logs/
*.log

# Resultados de construcción
build/
dist/

# Dependencias de desarrollo
devDependencies/

# Archivos de respaldo y temporales
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log
*.pid
*.seed
*.pid.lock
*.log
*.npm
*.yarn-integrity
*.pnp
.pnp.js